.Header {
  height: 70vh;
  background-image: url("../img/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .nav {
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 8vw 0 8vw;
  }

  h1 {
    text-align: center;
    margin-top: 200px;
    color: white;
    font-weight: bold;
  }

  .logoCont {
    width: 30vw;
  }

  .logo {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .Header {
    height: 60vh;

    .nav {
      padding: 0 2vw 0 2vw;
    }
  }
}
