.HeaderNav {
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
  margin-top: 20px;
  width: 40vw;
  align-items: center;
}
.HeaderNav p {
  font-weight: bold;
  color: white;
  line-height: 1;
  margin: 0;
}
.HeaderNav p:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .HeaderNav {
    margin-left: 30%;
    width: 65vw;
  }
}
@media (max-width: 550px) {
  .HeaderNav {
    margin-left: 0;
  }
}